body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: bisque;
}
#myh1{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #83643f;
}
#container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    background-color: beige;
}
#display{
    font-size: 5rem;
}
#controls button{
    font-size: 1.5rem;
    padding: 10px 20px;
    margin: 5px;
    min-width: 125px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition:background-color  0.3s ease, transform 0.3s ease;
}
#startBtn{
    background-color: #8dbe58;
}
#startBtn:hover{
    background-color: #74a540;
    transform: scale(1.025);
}
#startBtn:active{
    background-color: #9fd366;
}
#stopBtn{
    background-color: #c78d4e;
}
#stopBtn:hover{
    background-color: #9d6a33;
    transform: scale(1.025);
}
#stopBtn:active{
    background-color: #dda162;
}
#resetBtn{
    background-color: #4eb5d4;
}
#resetBtn:hover{
    background-color: #3997b4;
    transform: scale(1.025);
}
#resetBtn:active{
    background-color: #64c5e3;
}